.header{
  background: $dark-blue;
}
.header__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $s-size 0;
  a {
    margin-right: 10px; 
  }
}
.header__title{
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}
.weather_city_header{
  color: $dark-blue;
  text-align: center;
}
.weathersify{
  color: #f92;
}